* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    margin: 0;
    display: flex;
    overflow-y: auto;    
    min-height: 100vh;  /* Ensure content height is at least the viewport height */
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 620px;
    margin: 0 auto;  /* 自动水平居中 */
    padding: 8px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #a4a8a2;
    text-align: center;
    position: relative;
    top: 50%;  /* 垂直居中 */
    transform: translateY(-50%);  /* 通过 translate 实现垂直居中 */
}

h1 {
    margin: 0;
    color: #eddcdc;
    font-size: 34px;  /* Adjust font size */
}


#game-container {
    text-align: center;
    max-width: 720px;
    padding: 3px 5px 3px 5px;  /* Adjust padding */
    background-color: #333;
    border-radius: 10px;
    color: #a8a2a2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  /* 水平居中 */
}

#game-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    margin-top: 4px;
}

#avatar {
    width: 85px;
    height: 85px;
    border-radius: 30%;
    margin-right: 100px;
}


#virtual-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    margin-top: 10px;
}

#up-btn {
    grid-column: 2;
    grid-row: 1;
}

#left-btn {
    grid-column: 1;
    grid-row: 2;
}

#right-btn {
    grid-column: 3;
    grid-row: 2;
}

#down-btn {
    grid-column: 2;
    grid-row: 3;
}

#game-board {
    border: 2px solid var(--snake-color);
    background-color: var(--background-color);
    max-width: 100%;
}

#start-btn {
    background-color: var(--button-color, #a33f5b);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#start-btn:active {
    background-color: var(--button-active-color, #2e0e21);
}

#game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    width: 90%;
    /* max-width: 480px; */
}

#score, #speed-value, #high-score {
    font-size: 18px;
}

#message {
    margin-top: 1px;
    font-size: 14px;
    color: var(--snake-color);
    text-align: center;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#virtual-controls {
    margin-top: 10px;  /* 给出更多间距 */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:0px;
}

#virtual-controls button {
    background-color: var(--button-color, #0c4c1d);
    color: rgb(198, 192, 192);
    border: none;
    padding: 0px;
    border-radius: 15px;
    font-size: 38px;
    cursor: pointer;
    width: 135px;
    height: 105px;
}

#virtual-controls button:active {
    background-color: #3a0512;
}

#instructions {
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    max-width: 98%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#instructions p {
    width: 48%;
    margin: 0;
}

/* 自定义颜色变量 */
:root {
    --snake-color: #4CAF50;
    --food-color: #FF4136;
    --background-color: #000;
    --grid-color: #333;
    --button-color: #1c7434;
    --button-active-color: #2e0e21;
}

/* 响应式设计针对小于 720px 宽度的设备 */
@media (max-width: 720px) {

    #game-container {
        max-width: 99vw; /* Adjust if needed for smaller screens */
        padding: 1vw; 
    }

    h1 {
        font-size: 4.5vw;
    }

    #avatar {
        width: 13vw;
        height: 13vw;
        margin-right: 17vw; 
    }

    #virtual-controls {
        gap: 0vw;
        margin-top: 0vw;
    }

    #virtual-controls button {
        width: 20vw; 
        height: 15.5vw; 
        font-size: 7vw; 
        border-radius: 2vw;
    }

    #game-board {
        border-width: 0.4vw; /* Adjust border thickness */
    }

    #start-btn {
        padding: 1vw 3vw;
        font-size: 2.5vw;
        border-radius: 1vw;
    }

    #game-info {
        margin-top: 0.5vw;
        font-size: 2.9vw; 
    }

    #score, 
    #speed-value, 
    #high-score {
        font-size: 2.8vw; 
    }

    #message {
        margin: 1vw;
        font-size: 2.3vw;
    }

    #instructions {
        margin-top: 1vw;
        font-size: 2.5vw;
    }
}